$bg-color: #262739;
$p-bg-color: #204C43;
$link-color: #FAA50A;
$hover: #204C43;
$cta-bg: #FDE1BE;
$primary-color: #FAA50A;
$secondary-color: #FDE1BE;
$h3-color: #fff;
$color: #fff;

//MIXINS

@mixin infobox($text-bg-color, $p-color) {

}

@mixin button(){

}