body {
  background-color: #e9b789;
  box-sizing: border-box;
  margin: 0;
}

button {
  background-color: #FDE1BE;
  border: none;
  border-radius: 25px;
  color: #000;
  font-family: "Bitcount", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 2rem;
  padding: 0.4rem 2rem;
}

h1 {
  color: #504b19;
  display: flex;
  font-family: "Bitcount", sans-serif;
  font-size: 68px;
  font-weight: 400;
  justify-content: center;
  margin-left: 16rem;
  margin-right: 16rem;
}

h2 {
  color: #FDE1BE;
  font-family: "Slabo 13px", sans-serif;
  font-size: 56px;
}

h3 {
  color: #fff;
  font-family: "Bitcount", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

p {
  color: #fff;
  font-family: "cutive", serif;
}

header {
  background-color: #504b19;
  color: #fff;
  padding-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  margin-right: 8rem;
}
nav a {
  border-radius: 25px;
  color: #FDE1BE;
  font-family: "slabo 13px", serif;
  font-size: 24px;
  padding: 3rem, 4rem;
  text-decoration: none;
}
nav a:hover {
  background-color: #FDE1BE;
  color: #504b19;
}

.logo {
  max-width: 16rem;
  padding-left: 8rem;
  padding-top: 4rem;
}

.forside {
  margin-left: 8rem;
  margin-right: 8rem;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-right: 4rem;
}
.hero .hero-content {
  background-color: #FAA50A;
  border: solid, 0.8rem;
  border-color: #FDE1BE;
  border-radius: 25px;
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-around;
  align-items: center;
}
.hero p {
  color: black;
  font-family: "cutive mono", serif;
  font-size: 24px;
  line-height: 2;
  margin-left: 8rem;
  margin-right: 8rem;
}
.hero img {
  max-width: 16rem;
  border-radius: 50%;
  margin-left: 4rem;
  margin-right: 4rem;
}

.quote {
  color: #000;
  display: flex;
  font-family: "Slabo 13px", serif;
  font-size: 36px;
  justify-content: center;
  line-height: 2;
  margin-left: 24rem;
  margin-right: 24rem;
  padding-top: 2rem;
  text-align: center;
}

.teaser-container {
  display: flex;
  gap: 2rem;
  margin: 4rem;
}

.teaser-kort {
  background-color: #504b19;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 8rem;
}
.teaser-kort p {
  font-family: "cutive mono", serif;
  font-size: 24px;
  line-height: 2;
}
.teaser-kort a {
  background-color: #FDE1BE;
  border-radius: 25px;
  color: #000;
  font-family: "bitcount", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 2rem;
  padding: 2rem 4rem;
  text-decoration: none;
}
.teaser-kort a:hover {
  background-color: #FAA50A;
  color: #FDE1BE;
}

#project-gallery {
  background-color: #504b19;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 16rem;
  margin-right: 16rem;
  padding-left: 16rem;
  padding-right: 16rem;
}
#project-gallery p {
  font-size: 24px;
  font-family: "cutive mono", serif;
  line-height: 2;
}
#project-gallery img {
  border-radius: 25px;
  display: flex;
  justify-self: center;
  margin: 2rem;
  max-height: 40rem;
  max-width: 48rem;
}
#project-gallery a {
  background-color: #FDE1BE;
  border-radius: 25px;
  color: #000;
  display: flex;
  font-family: "bitcount", sans-serif;
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 4rem;
  text-decoration: none;
}
#project-gallery a:hover {
  background-color: #FAA50A;
  color: #FDE1BE;
}

.filters {
  display: flex;
  justify-content: center;
}

.intro {
  background-color: #FAA50A;
  border: solid, 0.8rem;
  border-color: #FDE1BE;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  margin-right: 16rem;
  margin-bottom: 16rem;
  margin-top: 8rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 4rem;
}
.intro p {
  color: #000;
  font-family: "cutive mono", serif;
  font-size: 24px;
  line-height: 2;
}
.intro img {
  display: flex;
  align-self: center;
  max-width: 40rem;
}
.intro a {
  background-color: #FDE1BE;
  border-radius: 25px;
  color: #000;
  display: flex;
  font-family: "bitcount", sans-serif;
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 4rem;
  text-decoration: none;
}
.intro a:hover {
  background-color: #FAA50A;
  color: #FDE1BE;
}

footer {
  background-color: #504b19;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
footer a {
  color: #FAA50A;
  display: flex;
  font-size: 24px;
  justify-content: center;
  padding-bottom: 0.8rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .forside {
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
  }
  .teaser-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  #project-gallery {
    margin: 0;
    padding: 0;
  }
  .intro {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */