@use 'partial';

header p{
    color: partial.$color;
}

body{
    background-color: partial.$bg-color;
}

h1{
    color: partial.$h1-color;
    display: flex;
    font-family: 'Bitcount', sans-serif;
    font-weight: 400;
    justify-self: center;
}

h2{
    color: partial.$h2-color;
    font-family: 'Cutive Mono', sans-serif;
}

h3{
    color: partial.$h3-color;
    font-family: 'Bitcount', sans-serif;
    font-weight: 400;
}

p{
    color: partial.$color;
    font-family: 'Slabo 13px', serif;
}

// Header

header{
    background-color: partial.$p-bg-color;
}

.logo{
    max-width: 16rem;
    padding: 2rem;
}

#nav a{
    color: red;
}


// Hero
.hero{
    display: flex;
    justify-content: center;
}


// project-gallery

#project-gallery{
    background-color: partial.$p-bg-color;
}

// FOOTER

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Mobilversionen

@media (max-width: 768px) {
    
}