@use 'partial';

header p{
    color: partial.$p-color;
}

body{
    background-color: partial.$bg-color;
}

h1{
    color: partial.$h1-color;
    display: flex;
    font-family: 'Bitcount', sans-serif;
    font-weight: 400;
    justify-self: center;
}

h2{
    color: partial.$h2-color;
    font-family: 'Cutive Mono', sans-serif;
}

h3{
    color: partial.$h3-color;
    font-family: 'Bitcount', sans-serif;
    font-weight: 400;
}

p{
    color: partial.$p-color;
    font-family: 'Slabo 13px', serif;
}

// Header

header{
    background-color: partial.$text-bg-color;
}

.logo{
    max-width: 16rem;
    padding: 2rem;
}


// Hero
.hero{
    display: flex;
    justify-content: center;
}


// project-gallery

.project-gallery{
    display: flex;
    justify-content: space-around;
}

#project-gallery{
    background-color: partial.$text-bg-color;
}

//Footer

footer {
    padding: 2rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-links a {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    text-decoration: none;
}

.footer-links i {
    width: 20px;
}



// Mobilversionen

@media (max-width: 768px) {
    
}